Flask
gunicorn
python-dotenv
Flask-Bcrypt
Flask-Mail
Flask-WTF
Flask-Dance
Werkzeug
psycopg2-binary
Flask-SQLAlchemy  # <<< THIS WAS THE MISSING PIECE
SQLAlchemy
blinker
click
itsdangerous
Jinja2
MarkupSafe
oauthlib
requests
requests-oauthlib
urlobject
WTForms