bcrypt
blinker
click
dnspython
email_validator
Flask
Flask-Bcrypt
Flask-Dance
Flask-Mail
flask_mysqldb
Flask-SQLAlchemy
Flask-WTF
gunicorn
itsdangerous
Jinja2
MarkupSafe
oauthlib
psycopg2-binary
python-dotenv
requests
requests-oauthlib
SQLAlchemy
urlobject
Werkzeug
WTForms