Flask
gunicorn
python-dotenv
Flask-Bcrypt
Flask-Mail
Flask-WTF
Flask-Dance
Werkzeug
# For Render (PostgreSQL)
psycopg2-binary
# For Local Machine (MySQL)
pymysql
# For both databases
Flask-SQLAlchemy
SQLAlchemy